@model Pedidos.Controllers.CreateOrdenViewModel

@for (int i = 0; i < Model.SelectedProducts.Count; i++)
{
    <div class="row mb-3 product-row">
        <div class="col-md-6">
            <select asp-for="SelectedProducts[i].ProductoId" class="form-control" required>
                <option value="">-- Seleccione un producto --</option>
                @if (ViewBag.Productos != null)
                {
                    @foreach (var producto in (List<Pedidos.Models.ProductoModel>)ViewBag.Productos)
                    {
                        <option value="@producto.Id">@producto.Nombre - $@producto.Precio.ToString("F2") (Stock: @producto.Stock)</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-text">Cantidad</span>
                <input asp-for="SelectedProducts[i].Cantidad" type="number" class="form-control" min="1" value="1" required />
            </div>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-danger remove-product">
                <i class="fas fa-trash"></i> Quitar
            </button>
        </div>
    </div>
}